<launch>

  <!-- Elevation mapping node -->
  <param name="/use_sim_time" value="true" />
  <arg name="rviz" default="true " />
  <arg name="robot_id" default="1" />
  <arg name="robot_name" default="robot_Z" />
  <!-- <arg name="camera_topic"  default="/camera/color/image_raw"/> -->
  <arg name="camera_topic" default="/robot_Z/image_rect" />
  <arg name="lidar_topic" default="/robot_Z/pointcloud_filtered" />
  <arg name="fake_image_pub" default="true" />

  <!-- publish the ground truth poses from CSV -->
  <node if="$(arg fake_image_pub)" name="rover_msgs"
    pkg="rover_msgs" type="sim1.py" />

  <node pkg="elevation_mapping" type="elevation_mapping"
    name="elevation_mapping_$(arg robot_id)" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/hedian_robot.yaml" />
    <rosparam command="load"
      file="$(find elevation_mapping_demos)/config/elevation_maps/submap.yaml" />
    <rosparam command="load"
      file="$(find elevation_mapping)/config/sensor_processors/velodyne_VLP16.yaml" />
    <remap from="/voxel_grid/output" to="$(arg lidar_topic)" />
    <remap from="/stereo_grey/left/image_raw" to="$(arg camera_topic)" />
  </node>

  <!-- Launch RViz with the demo configuration -->
  <group
    if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find elevation_mapping_demos)/rviz/elevation_map_visualization.rviz" />
  </group>

  <!-- X Y Z YAW PITCH ROLL -->
  <!-- 4800 dog 0329 bag -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_camera_init"
    args="0 0 1 0  0 0  map camera_init " />
  <node pkg="tf2_ros" type="static_transform_publisher"
    name="body_to_os_sensor" args="0 0 0 0 0 0  body /robot_3/os_sensor" /> -->

  <!-- /rslidar -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_camera_init"
    args="0 0
  1.2
  0 0 0  map camera_init " />
  <node pkg="tf2_ros" type="static_transform_publisher"
    name="body_to_os_sensor"
    args="0.72152 0.0002615 -0.061949  0.0 -0.9735  3.1416  /body_real
  /rslidar" /> -->

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="bpearl2lidar"
    args=" 0 0 0 0 0 0 /map /camera_init" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="lidar2base" -->
  <!-- args=" 0 0 0 0 0 0  /body /os_sensor" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="bpearl2lidar"
    args=" -0.6534 -0.0969   -0.0765  -3.1053  -1.0343    3.0674 /os_sensor /rslidar" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="bpearl2lidar" -->
  <!-- args="  -0.6865   0.0037 -0.0844 -3.1155     -1.0439    3.1313 /os_sensor /rslidar" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="bpearl2lidar" -->
  <!-- args="     -0.6822  -0.0025  -0.0791 -3.1167    -1.0424  3.1309  /os_sensor /rslidar" /> -->


</launch>